[user]
  name = Kori Roys
  email = kori@koriroys.com
[github]
  user = koriroys
[apply]
  whitespace = nowarn
[alias]
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
  br = branch
  ci = commit -a -m
  co = checkout
  cob = checkout -b
  create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
  delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' -
  hist = log --pretty=format:\"%Cred%h %ad%Creset | %s%d %Cred[%an]\" --graph --date=short
  lg = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit --date=relative --max-count=50
  lga = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit --date=relative --all
  di = diff --color-words
  gl = log --graph --abbrev-commit --pretty=oneline --decorate
  ll = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Cgreen(%cr) %C(bold blue)<%an> %Creset %s' --abbrev-commit --date=relative --max-count=100
  lla = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Cgreen(%cr) %C(bold blue)<%an> %Creset %s' --abbrev-commit --date=relative --all
  pdm = push devmynd master
  pom = push origin master
  st = status
  weekreport = shortlog --since=1.weeks --author=koriroys
[color]
  ui = true
[merge]
  tool = opendiff
[core]
  excludesfile = ~/.gitignore
  editor = vim
[push]
  default = upstream
